<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="control-group">
   <%= f.label "Category", class: 'control-label' %>
    <div class="controls">
      <%= f.select(:category, options_for_select(@array_of_live_categories.map { |value| [ value, value ] }), { include_blank: false }) %>
    </div>
  </div>

 <div class="control-group">
   <%= f.label "Category", class: 'control-label' %>
    <div class="controls">
      <%= f.select(:multiplier, options_for_select([[1,1],[0.5,0.5]]), { include_blank: false }) %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>


  </div>

<% end %>
