<%= form_tag("/items/update_checks_ind") do  %>

<h1>Transaction: <%= params[:item] %><%= params[:date] %></h1>
<h3> Select new category: </h3>
<%= select_tag(:newcat, options_for_select(@array_of_live_categories.map { |value| [value] }, selected: params[:cat]), { include_blank: false }) %>
<%= select_tag(:newmult, options_for_select(@array_of_multipliers.map { |desc,mult| [desc , mult] }), { include_blank: false }) %>
<%= hidden_field_tag :checks_ind , params[:checks_ind].join(',')%>

<%=  hidden_field_tag :cat , params[:cat]%>
<%= submit_tag %>
<% end %>
