<p id="notice"><%= notice %></p>

<li><%= link_to "Login", root_path %></li>
<li><%= link_to "BANK FEES" , items_path(@items, :cat => "BANK FEES") %></li>
<li><%= link_to "UNSORTED PURCHASE", items_path(@items, :cat => "UNSORTED PURCHASE") %></li>
<li><%= link_to "INCOME", items_path(@items, :cat => "INCOME") %></li>
<li><%= link_to "WITDRAWAL", items_path(@items, :cat => "WITDRAWAL") %></li>
<li><%= link_to "DEPOSIT", items_path(@items, :cat => "DEPOSIT") %></li>




<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Value</th>
      <th>Category</th>
      <th>Status</th>
      <th>Gst</th>
      <th>Multiplier</th>
      <th>Date</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item %></td>
        <td><%= item.value %></td>
        <td><%= item.category %></td>
        <td><%= item.status %></td>
        <td><%= item.gst %></td>
        <td><%= item.multiplier %></td>
        <td><%= item.date %></td>
        <td><%= item.identifier %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <% @another.each do |i| %>
      <tr>
        <td><%= i.category %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= render @another %>

<br>

<%= link_to 'New Item', new_item_path %>

<h3>Import Companies</h3>
<%= form_tag import_items_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import Companies", class: 'btn btn-default'%>
<% end %>

<h3>Download File</h3>
<%= link_to "Report", items_path(format: "csv"), class: 'btn btn-default' %>
<%= link_to 'New Company', new_item_path %>


