

<p id="notice"><%= notice %></p>
<%=@live_categories  %>
<%=@distinct %>
<%= current_user %>

<% if user_signed_in? %>

<h2>Categories</h2>
<td><%= link_to 'Add new Category' , new_categorytable_path %></td>
<% @live_categories.each do |cat| %>
<li><%= link_to cat , items_path(:cat => cat, :layout => "itemised" ) %></li>
<% end %>


<h2>Category Totals</h2>
<% @cattotals.each do |cat,tot| %>
<td> <%= cat %>  <%=  tot  %> </td>
<% end %>
<h3><%= params[:cat] %></h3>
<%= link_to "Itemised" , items_path(:cat => params[:cat], :layout => "itemised" ) %>
<%= link_to "Grouped" , items_path(:cat => params[:cat], :layout => "grouped" ) %>


<% if @layout == "expandgroup" %>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Value</th>
      <th>#items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expandgrouptop.each do |i| %>
<tr>
        <td><%= i.item %></td>
        <td><%= i.value %></td>
        <td><%= 1 %></td>
        <td><%= nil %></td>
        <td><%= link_to 'Edit Category' , edit_item_path(:id => i, :form => "category" ) %></td>

        <% end %>
  <tr>
    <% @expandgroupbottom.each do |k,v| %>
        <td><%= k %></td>
        <td><%= v %></td>
        <td><%= n = Item.where(:item => k).where(:category => params[:cat]).count(:item) %></td>
    <% if n > 1 %>
    <td><%= link_to "Expand group" , items_path(:cat => params[:cat], :layout => "expandgroup", :item => k ) %></td>
    <% else %>
        <td><%= nil %></td>
        <%end%>
       <td><%= link_to 'Edit Category', edit_category_path(:cat => params[:cat], :item => k) %></td>
<tr>
       <% end %>
  </tbody>
</table>

<% elsif @layout == "grouped" %>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Value</th>
      <th>#items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grouped.each do |it,tot| %>
      <tr>
        <td><%= it %></td>
        <td><%= tot %></td>
        <td><%= n = Item.where(:item => it).where(:category => params[:cat]).count(:item) %></td>
        <% if n > 1 %>
        <td><%= link_to "Expand group" , items_path(:cat => params[:cat], :layout => "expandgroup", :item => it ) %></td>
        <% else %>
        <td><%= nil %></td>
        <%end%>
        <td><%= link_to 'Edit Category', edit_category_path(:cat => params[:cat], :item => it) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% elsif @layout == "itemised" %>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Value</th>
      <th>Category</th>
      <th>Status</th>
      <th>Gst</th>
      <th>Multiplier</th>
      <th>Date</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itemised.each do |it| %>
      <tr>
        <td><%= it.item %></td>
        <td><%= it.value %></td>
        <td><%= it.category %></td>
        <td><%= it.status %></td>
        <td><%= it.gst %></td>
        <td><%= it.multiplier %></td>
        <td><%= it.date %></td>
        <td><%= it.identifier %></td>
        <td><%= link_to 'Show', (it) %></td>
        <td><%= link_to 'Edit Category' , edit_item_path(:id => it, :form => "category" ) %></td>
        <td><%= link_to 'Confirm' , edit_item_path(:id => it, :form => "status" ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>



<h3>Import Companies</h3>
<%= form_tag import_items_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import Companies", class: 'btn btn-default'%>


<h3>Download File</h3>
<%= link_to "Report", items_path(format: "csv"), class: 'btn btn-default' %>
<%= link_to 'New Company', new_item_path %>

<% end %>
<% end %>
