<div class = container-fluid>



<% if user_signed_in? %>

<h1>Transaction: <%= params[:item] %><%= params[:date] %></h1>
<h3> in context </h3>

<div class = container-fluid>
  <div class = "col-md-9" style="font-size:8px;">
    <div class="span3">
      <table class="table table-hover">
        <colgroup>

            <col class="col-md-2">
            <col class="col-md-3">
            <col class="col-md-3">
            <col class="col-md-2">
        </colgroup>

          <tbody>
            <% @contextbot.each do |it| %>
            <tr>

              <td> <%= it.category %></td>
              <td> <%= it.item %></td>
              <td> <%= it.date %></td>
              <td> <%= it.value %></td>
               <% end %>
           </tr>
               <% @contextmid.each do |it| %>
            <tr class="danger">

              <td> <%= it.category%></td>
              <td>  <%= it.item %></td>
              <td>  <%= it.date%></td>
              <td>  <%= it.value %></td>
               <% end %>
           </tr>

   <% @contexttop.each do |it| %>
            <tr>

              <td> <%= it.category %></td>
              <td> <%= it.item %></td>
              <td> <%= it.date %></td>
              <td> <%= it.value %></td>
               <% end %>
           </tr>




          </tbody>
</table>

 </div>
</div>
</div>

 <% end %>


  </div>
